body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
}
h1 {
    color: rgb(240, 9, 9);
    margin-bottom: 40px;
}

p {
    color: black;
    font-size: 18px;
}